

.cardAlien,
.cardAvistamento,
.cardPlaneta {
    border-color: rgba(255, 255, 255, 0.103);
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    padding: 16px;
    margin: 12px 0;
    color: #e2e8f0;
    
}

.cardAlien {
    background-color: #8785ee27;
}

.cardAvistamento {
    background-color: #8785ee27;
}

.cardPlaneta {
    background-color: #8785ee27;
}

.cardPlaneta h3, .cardPlaneta h4 {
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #474747e5; 
}

.cardPlaneta h6, .cardPlaneta p{
      -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #474747d7; 
}